Django==5.2.13
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
python-dotenv==1.2.2
drf-spectacular==0.28.0
django-cors-headers==4.7.0
django-filter==25.1
Pillow==11.2.1
aiogram==3.16.0
httpx[http2]==0.28.1
celery==5.5.3
redis==5.3.0
flower==2.0.1
sentry-sdk[django,celery]==2.40.0
django-redis==5.4.0
livekit-api==1.1.0
factory-boy==3.3.3
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2
boto3==1.38.19
firebase-admin==6.5.0
google-genai==1.73.0
paytechuz[django]==0.3.40
psycopg[binary]==3.2.3
xlrd==2.0.1